# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

#test coverage 
coverage

# dotenv environment variables file
.env
.env.test

